<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a routerLink="/menu" class="nav-link">Home</a> 
        </li>
      </ul>
      <form class="form-inline ml-3">
            <div class="input-group input-group-sm">
              <!-- <input class="form-control form-control-navbar" (ngModelChange)="searchEmploye(key.value)" #key="ngModel" ngModel name="cle" type="search" placeholder="Search" aria-label="Search"> -->
              <!-- <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div> -->
            </div>
      </form>
      <!-- notification and bare -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" >
          <span class="nav-link" data-toggle="dropdown" href="#" (click)="onClickBell()" >
              <i class="far fa-bell"></i>
              <span class="badge badge-warning navbar-badge"  *ngIf="notification"> {{ newPatient }} </span>
          </span>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header"><i class="fas fa-users mr-2"></i> Consultation patients</span>
            <div class="dropdown-divider"></div>
            <span *ngFor="let patient of patients"  href="#" class="dropdown-item">
                <span href="#" class="dropdown-item" (click)="onErasePatient(patient.id)">
                     {{ patient.id }} / {{ patient.fullName }} / <span class="text-primary">{{ patient.patientId }}</span> 
                    
                  </span>
                  <div class="dropdown-divider"></div>
                  
                <!-- <i class="fas fa-user"></i> -->
              <!-- <span *ngFor="let patient of patients" >{{ patient.id }} / {{ patient.fullName }} / {{ patient.patientId }} <p></p> <div class="dropdown-divider"></div></span> -->
              <!-- <table class="table table-striped m-0">
                  <tbody>
                      <tr *ngFor="let patient of patients">
                        <td>{{ patient.id }}</td>
                        <td>{{ patient.fullName }}</td>
                        <td class="text-primary">{{ patient.patientId }}</td>
                      </tr>
                  </tbody>
              </table> -->
              
              <!-- <span class="float-right text-muted text-sm">  </span> -->
            </span>
            <!-- <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-users mr-2"></i> 8 friend requests
              <span class="float-right text-muted text-sm">12 hours</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 new reports
              <span class="float-right text-muted text-sm">2 days</span>
            </a> -->
            <!-- <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a> -->
          </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
            <i class="fas fa-th-large"></i>
          </a>
        </li> -->
      </ul>
      <!-- end notification and bare -->
    </nav>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="#" class="brand-link">
        <img src="../../../node_modules/admin-LTE/dist/img/AdminLTELogo.png"
             alt=""
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light" style="margin-left: 56px;">Clinix-SIH</span>
      </a>
  
      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="./../../assets/WhatsAppImage2020-12-29at13.50.45.jpeg" style="width: 50px;height: 50px;" class="img-circle elevation-2" alt="aaa">
            <i class="fa fa-user-o" aria-hidden="true"></i>
          </div>
          <div class="info">
            <a href="#" data-toggle="modal" data-target="#logout" class="d-block">gruay salongo</a>
          </div>
        </div>
  
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview">
              <a href="/#" class="nav-link">
                <i class="fa fa-user-plus"></i>
                <p>
                   Gestion utilisateurs
                   <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/roles" class="nav-link">
                    <i class="fa fa-users"></i>
                    <p>Listes roles</p>
                  </a>
                </li>
                <li class="nav-item">
                        <a routerLink="/users" class="nav-link">
                          <i class="fa fa-users"></i>
                          <p>Listes utilisateurs</p>
                        </a>
                </li>
              </ul>
            </li>
            
          </ul>
        </nav>
  
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
                 <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="far fa-file-alt"></i>
                          <p> 
                            Service acceuil
                            <i class="right fas fa-angle-left"></i>
                          </p>
                        </a>
                        <ul class="nav nav-treeview">
                          <li class="nav-item">
                            <a routerLink="/patients" class="nav-link">
                              <i class="far fa-file-alt"></i>
                              <p>fiche patients</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a routerLink="/acceuil" class="nav-link">
                              <i class="far fa-file-alt"></i>
                              <p>liste d'acceuil</p>
                            </a>
                        </li>
                        </ul>
                      </li>
                      
                      <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fas fa-tag"></i>
                          <p>
                            Service consultation
                            <i class="right fas fa-angle-left"></i>
                          </p>
                        </a>
                        <ul class="nav nav-treeview">
                          <li class="nav-item">
                            <a routerLink="/consultation" class="nav-link">
                              <i class="fas fa-tag"></i>
                              <p>consultation</p>
                            </a>
                          </li>
                        </ul>
                      </li>
            
          </ul>
        </nav>
        
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      
  
      <!-- Main content -->
    <section class="content">

        <!-- ////////////// -->
        <!-- ////modal logout -->
        <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Voulez-vous vous déconnecter?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Cliquez sur Déconnexion si voulez mettre fin à votre session</div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" data-dismiss="modal">non</button>
                        <a routerLink="/login"><button class="btn btn-danger" type="button"
                                data-dismiss="modal">Déconnexion</button></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ////// end modal logout -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    
                    <div class="col-sm-6" style="margin-left: 607px;">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a routerLink="/menu">Home</a></li>
                            <li class="breadcrumb-item active">gestion patients</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
    
    
        <div class="container-fluid" id="main-container">
            <div class="row">
                <div class="col-12">
                    
                    <!-- milieu -->

                     

                    <!-- end milieu -->
                </div>
            </div>
    
        </div>
    </section>
    </div>
  
    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0.0
      </div>
      <strong>Copyright &copy; 2021-2022 <a href="https://www.skynet-burundi.bi">skynet-burundi.bi</a>.</strong> All rights
      reserved.
    </footer>
  
    <!-- <aside class="control-sidebar control-sidebar-dark" style="display: block;">
      <div class="p-3 control-sidebar-content">
          <h5>Customize AdminLTE</h5>
          <hr class="mb-2">
      </div>
    </aside> -->
    <!-- /.control-sidebar -->

  </div>
  <!-- ./wrapper -->
  <script>
     $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      })
  </script>