<!-- Site wrapper -->
<div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
          <!-- Left navbar links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
              <a routerLink="/menu" class="nav-link">Home</a> 
            </li>
          </ul>
        </nav>
        <!-- /.navbar -->
      
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
          <!-- Brand Logo -->
          <a href="#" class="brand-link">
            <img src="../../../node_modules/admin-LTE/dist/img/AdminLTELogo.png"
                 alt=""
                 class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light" style="margin-left: 56px;">Clinix-SIH</span>
          </a>
      
          <!-- Sidebar -->
          <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
              <div class="image">
                <img src="menu/user7-128x128.jpg" class="img-circle elevation-2" alt="aaa">
                <i class="fa fa-user-o" aria-hidden="true"></i>
              </div>
              <div class="info">
                <a href="#" class="d-block">AWAZI Ismael</a>
              </div>
            </div>
      
            <!-- Sidebar Menu -->
            <nav class="mt-2">
              <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                  <a href="/#" class="nav-link">
                    <i class="fa fa-user-plus"></i>
                    <p>
                       Gestion utilisateurs
                       <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a routerLink="/roles" class="nav-link">
                        <i class="fa fa-users"></i>
                        <p>Listes roles</p>
                      </a>
                    </li>
                  </ul>
                </li>
                
              </ul>
            </nav>
      
            <nav class="mt-2">
              <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                  <a href="#" class="nav-link">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <p>
                       Dossier patient
                      <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fa fa-users"></i>
                        <p>Listes patients</p>
                      </a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <p>Listes </p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a   class="nav-link">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <p>Listes bon de commande</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a  class="nav-link">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <p>Listes facture</p>
                      </a>
                    </li> -->
                  </ul>
                </li>
                
              </ul>
            </nav>
            
            <!-- /.sidebar-menu -->
          </div>
          <!-- /.sidebar -->
        </aside>
        
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          
      
          <!-- Main content -->
          <section class="content">
            <!-- ////////////// -->

            <section class="content-header">
                    <div class="container-fluid">
                      <div class="row mb-2">
                        <div class="col-sm-6">
                          <!-- <h1>Yobora-Soft | Dashboard</h1> -->
                          <button type="button" class="btn btn-primary" href="#add" data-toggle="modal"><i class="fas fa-plus"></i> ajouter role</button>
                          <!-- modal  add client-->
                          <div class="modal fade" id="add" >
                                <div class="modal-dialog ">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" id="add-role">x</button>
                                            <!-- <h4 class="modal-title" style="margin-left:10px">Plus d'informations</h4> -->
                                        </div> 
                                        <div class="modal-body">
                                            <!-- <div class="container-fluid"> -->
                                                <!-- <div class="container validation"> -->
                                                    <!-- <div class="row"> -->
                                                                 <!-- <div class="col-lg-5">  -->
                                                                    <div class="card card-primary">
                                                                        <div class="card-header">
                                                                          <h3 class="card-title">ajouter role</h3>
                                                                        </div>
                                                                        <!-- /.card-header -->
                                                                        <!-- form start -->
                                                                        <form #addForm="ngForm" (ngSubmit) = "onSaveRole(addForm)">
                                                                          <div class="card-body">
                                                                            <div class="card-body">
                                                                            <div class="form-group">
                                                                                    <label for="exampleInputEmail1">profil</label>
                                                                                    <input type="text" ngModel class="form-control" name="roleName" id=""  required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                    <label for="exampleInputEmail1">commentaire</label>
                                                                                    <input type="text" ngModel class="form-control" name="commentaire" id=""  required>
                                                                            </div>
                                                                            <!-- <div class="form-group">
                                                                              <label for="exampleInputEmail1">email</label>
                                                                              <input type="email" ngModel class="form-control" name="email" id="email"  required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="exampleInputEmail1">telephone</label>
                                                                                <input type="text" ngModel class="form-control" name="telephone" id="telephone"  required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="exampleInputEmail1">adresse</label>
                                                                                <input type="text" ngModel class="form-control" name="adresse" id="email"  required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="exampleInputEmail1">forme juridique</label>
                                                                                <input type="text" ngModel class="form-control" name="forme_juridique" id="phone"  required>
                                                                            </div> -->
                                                                            <!-- <div class="form-group">
                                                                                <label for="exampleInputEmail1">imageUrl</label>
                                                                                <input type="text" ngModel class="form-control" name="imageURL" id="phone" required>
                                                                            </div> -->
                                                                            <!-- <div class="form-group">
                                                                                <label for="exampleInputEmail1">employe code</label>
                                                                                <input type="text" ngModel class="form-control" name="employeCode" id="phone"  required>
                                                                            </div> -->
                                                                            
                                                                            
                                                                        </div>
                                                                            <!-- <div class="form-check">
                                                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                                                            </div> -->
                                                                        </div>
                                                                        <!-- /.card-body -->
                                                                        
                                                                        <div class="card-footer">
                                                                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >ajouter</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <!-- </div>  -->
                                                            <!-- </div> -->
                                                            <!-- </div> -->
                                                            <!-- </div> -->
                                                            <!-- </div> -->
                                                            <!-- <div class="modal-footer">
                                                                <button class="btn btn-info" data-dismiss="modal">Fermer</button>
                                                            </div> -->
                                                        </div>
                                                    </div>
                            </div>
                            </div>
                          <!-- end modal add client -->
                        </div>
                        <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a routerLink="/menu">Home</a></li>
                            <li class="breadcrumb-item active">gestion roles</li>
                          </ol>
                        </div>
                      </div> 
                    </div><!-- /.container-fluid -->
                  </section>
            
            
            <div class="container-fluid" id="main-container">
                <div class="row">
                  <div class="col-12">
                        
                    <!-- /.card -->
            
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Listes de roles</h3>
                        <!-- <div id="example1_filter" class="dataTables_filter"> -->
                        <input type="search" style="width: 172px;margin-top: -3px;margin-left: 1022px;" class="form-control form-control-sm" placeholder="Search" aria-controls="example1">
                        <!-- </div> -->
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                          <thead>
                          <tr>
                            <th>Profil</th>
                            <th>Commentaire</th>
                            <!-- <th>email</th>
                            <th>telephone</th>
                            <th>adresse</th>
                            <th>forme juridique</th> -->
                            
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let role of roles">
                            <td>{{ role.roleName }}</td>
                            <td>{{ role.commentaire }}</td>
                            <!-- <td></td>
                            <td></td>
                            <td></td>
                            <td></td> -->
                            <td>
                                <!-- <button type="button"   class="btn btn-info">user</button> -->
                                <button type="button" data-target="#addUser" data-toggle="modal" class="btn btn-success"><i class="fas fa-plus"></i> add user</button>
                            </td>
                            <div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Info</h5>
                                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">voulez vous supprimer ce client?</div>
                                    <div class="modal-footer">
                                      <button class="btn btn-secondary" type="button" data-dismiss="modal">non</button>
                                      <button  class="btn btn-danger" type="button" data-dismiss="modal">oui</button>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <td><button type="button" (click)="onOpenModalRole(role, 'update')" class="btn btn-warning">update</button></td>
                            <!-- <div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Info</h5>
                                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">voulez vous supprimer ce client?</div>
                                    <div class="modal-footer">
                                      <button class="btn btn-secondary" type="button" data-dismiss="modal">non</button>
                                      <button  class="btn btn-danger" type="button" data-dismiss="modal">oui</button>
                                    </div>
                                  </div>
                                </div>
                            </div> -->
                            <td><button type="button"  class="btn btn-danger" (click)="onOpenModalRole(role, 'delete')" >delete</button></td>
                            <div class="modal fade" id="deleteRole" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Info</h5>
                                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">voulez vous supprimer ce role?</div>
                                    <div class="modal-footer">
                                      <button class="btn btn-warning" type="button" data-dismiss="modal">non</button>
                                      <button (click)="onDeleteRole(roleDelete?.id)" class="btn btn-danger" type="button" data-dismiss="modal">oui</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <!-- modal  add user-->
            <div class="modal fade" id="addUser" >
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" id="add-user">x</button>
                            <!-- <h4 class="modal-title" style="margin-left:10px">Plus d'informations</h4> -->
                        </div> 
                        <div class="modal-body">
                            <!-- <div class="container-fluid"> -->
                                <!-- <div class="container validation"> -->
                                    <!-- <div class="row"> -->
                                                 <!-- <div class="col-lg-5">  -->
                                                    <div class="card card-primary">
                                                        <div class="card-header">
                                                          <h3 class="card-title">ajouter proforma</h3>
                                                        </div>
                                                        <!-- /.card-header -->
                                                        <!-- form start -->
                                                        <form #addForm="ngForm" (ngSubmit) = "onAddUser(addForm)">
                                                          <div class="card-body">
                                                            <div class="card-body">
                                                            <div class="form-group">
                                                                    <label for="exampleInputEmail1">nom complet</label>
                                                                    <input type="text" ngModel class="form-control" name="fullname" id="fullname"  required>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label for="exampleInputEmail1">email</label>
                                                                    <input type="email" ngModel class="form-control" name="email" id="email"  required>
                                                            </div>
                                                            <div class="form-group">
                                                                            <label for="exampleInputEmail1">username</label>
                                                                            <input type="text" ngModel class="form-control" name="username" id="username"  required>
                                                            </div>
                                                            <div class="form-group">
                                                                                <label for="exampleInputEmail1">password</label>
                                                                                <input type="password" ngModel class="form-control" name="password" id="password"  required>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label>role</label>
                                                                    <select class="form-control" ngModel name="role">
                                                                      <option *ngFor="let r of roles">{{ r.roleName }}</option>
                                                                      <!-- <option>option 2</option> -->
                                                                      <!-- <option>option 3</option> -->
                                                                      <!-- <option>option 4</option> -->
                                                                      <!-- <option>option 5</option> -->
                                                                    </select>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label for="exampleInputFile">photo</label>
                                                                    <div class="input-group">
                                                                      <div class="custom-file">
                                                                        <input type="file" class="custom-file-input" ngModel name="imageUrl" id="exampleInputFile">
                                                                        <label class="custom-file-label" for="exampleInputFile">Choisissez votre photo</label>
                                                                      </div>
                                                                    </div>
                                                            </div>
                                                            <!-- <div class="form-group">
                                                                <label for="exampleInputEmail1">prix unitaire htc</label>
                                                                <input type="text" ngModel class="form-control" name="prix_unitaire_htc" id="telephone"  required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">prix total htc</label>
                                                                <input type="text" ngModel class="form-control" name="prix_total_htc" id="email"  required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">prix total ttc</label>
                                                                <input type="text" ngModel class="form-control" name="prix_total_ttc" id="phone"  required>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label for="exampleInputEmail1">taux tva</label>
                                                                    <input type="text" ngModel class="form-control" name="taux_tva" id="phone"  required>
                                                            </div>
                                                            <div class="form-group">
                                                              <label for="exampleInputEmail1">quantite</label>
                                                              <input type="text" ngModel class="form-control" name="quantite" id="email"  required>
                                                            </div> -->
                                                            <!-- <div class="form-group">
                                                                        <label for="exampleInputEmail1">date facturation</label>
                                                                        <input type="date" ngModel class="form-control" name="date_facturation" id="phone"  required>
                                                            </div> -->
                                                        </div>
                                                        </div>
                                                        <!-- /.card-body -->
                                                        <div class="card-footer">
                                                            <button [disabled] = "addForm.invalid" type="submit" class="btn btn-primary" >ajouter</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <!-- </div>  -->
                                            <!-- </div> -->
                                            <!-- </div> -->
                                            <!-- </div> -->
                                            <!-- </div> -->
                                            <!-- <div class="modal-footer">
                                                <button class="btn btn-info" data-dismiss="modal">Fermer</button>
                                            </div> -->
                                        </div>
                                    </div>
            </div>
            </div>
            
            <!-- end modal add client -->
                          </tr>
                          </tbody>
                          <tfoot>
                          <tr>
                                <th>Profil</th>
                                <th>Commentaire</th>
                                <!-- <th>email</th>
                                <th>telephone</th>
                                <th>adresse</th>
                                <th>forme juridique</th> -->
                          </tr>
                          </tfoot>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
                
              </div>
              
            
              <!-- modal -->
            
            
            
             <!-- modal update client -->
             <div class="modal fade" id="updateRole">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">x</button>
                            <!-- <h4 class="modal-title" style="margin-left:10px">Plus d'informations</h4> -->
                        </div> 
                        <div class="modal-body">
                             <!-- <div class="container-fluid"> -->
                                        <!-- <div class="container validation"> -->
                                            <!-- <div class="row"> -->
                                                 <!-- <div class="col-lg-5">  -->
                                                    <div class="card card-primary">
                                                        <div class="card-header">
                                                          <h3 class="card-title">update role</h3>
                                                        </div>
                                                        <!-- /.card-header -->
                                                        <!-- form start -->
                                                        <form #editForm="ngForm" >
                                                          <div class="card-body">
                                                            <div class="card-body">
                                                                        <div class="form-group">
                                                                            <input type="hidden" ngModel="{{ roleUpdate?.id }}"  name="id">
            
                                                                          </div>
                                                                          <div class="form-group">
                                                                              <label for="exampleInputEmail1">profil</label>
                                                                              <input type="text" ngModel="{{ roleUpdate?.roleName }}" class="form-control" name="roleName" id="roleName"  required>
                                                                          </div>
                                                                          <div class="form-group">
                                                                                <label for="exampleInputEmail1">commentaire</label>
                                                                                <input type="text" ngModel="{{ roleUpdate?.commentaire }}" class="form-control" name="commentaire" id="commentaire"  required>
                                                                        </div>
                                                                        <!-- <div class="form-group">
                                                                          <label for="exampleInputEmail1">email</label>
                                                                          <input type="email" ngModel="" class="form-control" name="email" id="email"  required>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="exampleInputEmail1">telephone</label>
                                                                            <input type="text" ngModel="" class="form-control" name="telephone" id="telephone"  required>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="exampleInputEmail1">adresse</label>
                                                                            <input type="text" ngModel="" class="form-control" name="adresse" id="email"  required>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="exampleInputEmail1">forme juridique</label>
                                                                            <input type="text" ngModel="" class="form-control" name="forme_juridique" id="phone"  required>
                                                                        </div> -->
                                                             
                                                             
                                                            </div>
                                                            <!-- <div class="form-check">
                                                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                              <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                                            </div> -->
                                                          </div>
                                                          <!-- /.card-body -->
                                                        <div class="modal-footer">
                                                            <button type="button" id="update-role" class="btn btn-secondary" data-dismiss="modal">annuler</button>
                                                            <button type="button" (click)="onUpdateRole(editForm.value)"  class="btn btn-primary">Modifier</button>
                                                        </div>
                                                          <!-- <div class="card-footer">
                                                          </div> -->
                                                        </form>
                                                      </div>
                                                 <!-- </div>  -->
                                            <!-- </div> -->
                                        <!-- </div> -->
                                <!-- </div> -->
                        <!-- </div> -->
                        <!-- <div class="modal-footer">
                            <button class="btn btn-info" data-dismiss="modal">Fermer</button>
                        </div> -->
                    </div>
                </div>
            </div>
            </div>
            <!-- end modal update client -->
            
            <!-- modal delete client -->
            <div class="modal fade" id="deleteClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Info</h5>
                          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">voulez vous supprimer ce client?</div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary" type="button" data-dismiss="modal">non</button>
                          <button class="btn btn-danger" type="button" data-dismiss="modal">oui</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end modal delete client -->

            <!-- ////////////// -->
      
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
      
        <footer class="main-footer">
          <div class="float-right d-none d-sm-block">
            <b>Version</b> 1.0.0
          </div>
          <strong>Copyright &copy; 2021-2022 <a href="https://www.skynet-burundi.bi">skynet-burundi.bi</a>.</strong> All rights
          reserved.
        </footer>
      
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
          <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
      </div>
      <!-- ./wrapper -->
      