
<!-- Site wrapper -->
<div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
          <!-- Left navbar links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
              <a routerLink="/menu" class="nav-link">Home</a> 
            </li>
          </ul>
          <!-- barre de recherche -->
          <form class="form-inline ml-3">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="recherche utilisateur" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
          <!-- End barre de recherche -->

          <!-- Notifications Dropdown Menu -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" style="margin-left: -43px;">
                    <span  data-toggle="dropdown" class="text-muted"><i class="fas fa-fw fa-cog"></i></span>
              <div class="dropdown-menu" role="menu" style="margin-left: -120px;">
                  <span href="#" class="dropdown-item"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 text-muted"></i>Profile</span>
                  <div class="dropdown-divider"></div>
                  <span href="#" data-toggle="modal" data-target="#logout" class="dropdown-item"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400 text-muted"></i>Déconnexion</span>
              </div>
            </li>
          </ul>
          <!--End  Notifications Dropdown Menu -->
        </nav>
        <!-- /.navbar -->
      
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
          <!-- Brand Logo -->
          <a href="#" class="brand-link">
            <img src="../../../node_modules/admin-LTE/dist/img/AdminLTELogo.png"
                 alt=""
                 class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light" style="margin-left: 56px;">Clinix-SIH</span>
          </a>
      
          <!-- Sidebar -->
          <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
              <div class="image">
                <img src="{{ clinixService.apiURL+'/clinix-SIH_api/download/'+photo }}" style="width: 50px;height: 50px;" class="img-circle elevation-2" alt="erreur chargement photo">
                <i class="fa fa-user-o" aria-hidden="true"></i>
              </div>
              <div class="info">
                <a href="#" data-toggle="modal" data-target="#logout" class="d-block">{{ fullname }}</a>
              </div>
            </div>
      
            <!-- Sidebar Menu -->
            <nav class="mt-2">
              <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                  <a href="/#" class="nav-link">
                    <i class="fa fa-user-plus"></i>
                    <p>
                       Gestion utilisateurs
                       <i class="right fas fa-angle-left"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a routerLink="/roles" class="nav-link">
                        <i class="fa fa-users"></i>
                        <p>Listes roles</p>
                      </a>
                    </li>
                    <li class="nav-item">
                            <a routerLink="/users" class="nav-link">
                              <i class="fa fa-users"></i>
                              <p>Listes utilisateurs</p>
                            </a>
                    </li>
                  </ul>
                </li>
                
              </ul>
            </nav>
      
            <nav class="mt-2">
              <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                     <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="far fa-file-alt"></i>
                          <p> 
                            Service acceuil
                            <i class="right fas fa-angle-left"></i>
                          </p>
                        </a>
                        <ul class="nav nav-treeview">
                          <li class="nav-item">
                            <a routerLink="/patients" class="nav-link">
                              <i class="far fa-file-alt"></i>
                              <p>fiche patients</p>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a routerLink="/acceuil" class="nav-link">
                              <i class="far fa-file-alt"></i>
                              <p>liste d'acceuil</p>
                            </a>
                        </li>
                        </ul>
                      </li>
                      
                      <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="fas fa-tag"></i>
                          <p>
                            Service consultation
                            <i class="right fas fa-angle-left"></i>
                          </p>
                        </a>
                        <ul class="nav nav-treeview">
                          <li class="nav-item">
                            <a routerLink="/consultation" class="nav-link">
                              <i class="fas fa-tag"></i>
                              <p>consultation</p>
                            </a>
                          </li>
                        </ul>
                      </li>
                
              </ul>
            </nav>
            
            <!-- /.sidebar-menu -->
          </div>
          <!-- /.sidebar -->
        </aside>
        
        <!-- Contains page content -->
        <div class="content-wrapper">
          <section class="content">
            
            <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <!-- reset email -->
                    <div class="input-group mb-3" style="width: 267px;margin-left: 164px;">
                      <input type="email" name="email" class="form-control" value="" placeholder="email" required>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-envelope"></span>
                        </div>
                      </div>
                    </div>
                    <button type="button" style="margin-top: -95px;" (click)="resetPassword()" class="btn btn-primary"><i
                      class="fas fa-sync-alt"></i> reset password</button>
                      <div class="overlay text-muted" style="margin-top: -77px;margin-left: 457px;">
                        <i *ngIf="ok" class="fas fa-2x fa-sync-alt fa-spin"></i>
                      </div>
                      <!-- end reset email -->
                    <!--modal success Mot de passe réinitialisé -->
                    <div *ngIf="isOk" class="col-lg-12 col-md-12">
                      <div id="toast-container" class="toast-top-right">
                        <div class="toast toast-success" aria-live="polite" style="opacity: 0.9000;">
                          <div class="toast-message">Mot de passe réinitialisé.</div>
                        </div>
                      </div>
                    </div>
                    <!-- end modal success Mot de passe réinitialisé -->
                  </div>
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a routerLink="/menu">Home</a></li>
                      <li class="breadcrumb-item active">gestion users</li>
                    </ol>
                  </div>
                </div>
              </div><!-- /.container-fluid -->
            </section>

            <!------modal logout-->
            <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Voulez-vous vous déconnecter?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">Cliquez sur Déconnexion si voulez mettre fin à votre session</div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">non</button>
                    <a routerLink="/login"><button  class="btn btn-danger" type="button" data-dismiss="modal">Déconnexion</button></a>
                  </div>
                </div>
              </div>
            </div>
            <!-----end modal logout-->

            
            <!-- tableau user   -->
            <div class="card text-muted main-container" id="main-container">
              <div class="card-header border-transparent">
                <h3 class="card-title">Utilisateurs</h3>
            
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table table-striped m-0">
                    <thead>
                      <tr>
                        <th>photo</th>
                        <th>email</th>
                        <th>nom & prénom</th>
                        <th>téléphone</th>
                        <th>username</th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of users">
                        <td ><img src="{{ clinixService.apiURL+'/clinix-SIH_api/download/'+user?.urlPicture }}" style="height: 47px;width: 48px; border-radius: 42px;"/></td>
                        <td class="text-primary">{{ user?.email }}</td>
                        <td>{{ user?.fullName }}</td>
                        <td class="text-success">{{ user?.phone }}</td>
                        <td>{{ user?.username }}</td>
                        <td><span (click)="onOpenModalUser(user, 'detail')"  title="Détails utilisateur"><i class="fas fa-user"></i></span></td>
                        <td><span (click)="onOpenModalUser(user, 'delete')"><i class="far fa-trash-alt"   title="Supprimer un utilisateur"></i></span></td>
                        <td><span (click)="onOpenModalUser(user, 'update')"><i class="fas fa-edit"  title="Modifier un utilisateur"></i></span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- end tableau user   -->

            <!-- modal  update user-->
            <div class="modal fade" id="updateUser" >
              <div class="modal-dialog ">
                  <form #editFormUser="ngForm">
                          <div class="modal-content">
                                  <div class="modal-header">
                                          <span class="text-muted"><i class="fas fa-arrow-circle-right"></i>  Utilisateur</span>
                                      <button type="button" class="close" data-dismiss="modal" id="update-user">x</button>
                                  </div>
                                  <div class="modal-body">
                                          <div class="card">
                                              <div class="card-header">
                                                  <h3 class="card-title text-muted">Informations générales</h3>
                                          
                                                  <div class="card-tools">
                                                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                                                      </button>
                                                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                                                      </button>
                                                  </div>
                                              </div>
                                              <!-- contenu card -->
                                              <div class="card-body p-0 text-muted" style="margin: 10px;">
                                                  <div class="row">
                                                      <input type="hidden" ngModel="{{ user?.id }}" name="id" class="form-control">

                                                      <div class="col-sm-6">
                                                          <div class="form-group">
                                                              <label>Email *</label>
                                                              <input type="email" ngModel="{{ user?.email }}" name="email" class="form-control" required placeholder=" ---" >
                                                          </div>
                                                      </div>
                                                      <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Nom & prénom *</label>
                                                            <input type="text" ngModel="{{ user?.fullName }}" name="fullName" class="form-control" required placeholder=" ---" >
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                      <div class="form-group">
                                                          <label>téléphone *</label>
                                                          <input type="text" ngModel="{{ user?.phone }}" name="phone" class="form-control" required placeholder=" ---" >
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Username *</label>
                                                        <input type="text" ngModel="{{ user?.username }}" name="username" class="form-control" required placeholder=" ---" >
                                                    </div>
                                                  </div>
                                                  <div class="col-sm-6">
                                                      <input type="hidden"  ngModel="{{ user?.password }}" name="password" class="form-control" required placeholder=" ---" >
                                                    <div class="form-group">
                                                        <label>Password </label>
                                                        <input type="password" disabled  class="form-control" required placeholder="*******" >
                                                    </div>
                                                  </div>
                                                  <div class="col-sm-6">
                                                    <div class="form-group">
                                                      <label for="exampleInputFile">Photo</label>
                                                      <div class="input-group">
                                                        <div class="custom-file">
                                                          <input type="file" class="custom-file-input" (change)="onAddPicture($event)" name="urlPicture"
                                                            id="exampleInputFile">
                                                          <label class="custom-file-label" for="exampleInputFile">---</label>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  </div>
                                              </div>
                                              <!-- end contenu card -->
                                              <div class="card-footer text-center">
                                                  <span class="text-danger">*tous les champs marqués sont obligatoires</span>
                                              </div>
                                          </div>
                                  </div>
                                  <div class="modal-footer justify-content-between">
                                          <button type="button" id="update-role" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                          <button type="button" (click)="onUpdateUser(editFormUser.value)"  class="btn btn-primary">Ajouter</button>
                                  </div>
                              </div>
                  </form>
              </div>
            </div>
            <!-- end modal update user -->

            
            <!--modal delete role -->
            <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" class="text-muted"><i class="fas fa-arrow-circle-right"></i> info</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body text-muted">Voulez-vous supprimer ce rôle?</div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">non</button>
                    <button (click)="ondeleteUser(userId)" class="btn btn-danger" type="button" data-dismiss="modal">supprimer</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end modal delete role -->

             <!-- modal add detail user -->
             <div class="modal fade" id="detailUser">
              <div class="modal-dialog ">
                <div class="modal-content">
                  <div class="modal-header">
                    <span class="text-muted"><i class="fas fa-arrow-circle-right"></i> Details utilisateur</span>
                    <button type="button" class="close" data-dismiss="modal" id="add-user"><i
                        class="fas fa-times"></i></button>
                  </div>
                  <div class="modal-body">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title text-muted">Informations générales</h3>

                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                          </button>
                        </div>
                      </div>
                      <div class="col-12 col-lg-12 d-flex align-items-stretch">
                        <div class="card bg-light" style="width: 451px;height: 261px;">
                          <div class="card-header text-muted border-bottom-0">
                            <h2 class="lead"><b>{{ user?.fullName }}</b></h2>
                          </div>
                          <div class="card-body pt-0">
                            <div class="row">
                              <div class="col-7">
                                <span  class="text-muted" *ngFor="let role of user?.appRoles"><span style="font-weight: bold;">Rôle</span> : {{ role.roleName }}</span>
                                <p class="text-muted text-sm" *ngFor="let role of user?.appRoles"><b>Commentaire</b> : {{ role?.commentaire }}</p>
                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                  <li style="padding-top: 4px;padding-bottom: 4px;" class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Mutanga Nord Av. Mwaro</li>
                                  <li style="padding-top: 4px;padding-bottom: 4px;" class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: {{ user?.phone }}</li>
                                  <li style="padding-top: 4px;padding-bottom: 4px;" class="small"><span class="fa-li"><i class="far fa-envelope"></i></span> Email : {{ user?.email }}</li>
                                </ul>
                              </div>
                              <div class="col-5 text-center">
                                <img src="{{ clinixService.apiURL+'/clinix-SIH_api/download/'+user?.urlPicture }}" style="border-radius: 50px;width: 100px;height: 100px;" alt="erreur chargement photo" class="img-circle img-fluid">
                              </div>
                            </div>
                          </div>
                          <div class="card-footer">
                            <div class="text-right">

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--  -->

                  </div>
                </div>
              </div>
             </div>
             <!-- end modal detail user -->
      
          </section>
        </div>
      
        <footer class="main-footer">
          <div class="float-right d-none d-sm-block">
            <b>Version</b> 1.0.0
          </div>
          <strong>Copyright &copy; 2021-2022 <a href="https://www.skynet-burundi.bi">skynet-burundi.bi</a>.</strong> All rights
          reserved.
        </footer>
      
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
          <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
      </div>
      <!-- ./wrapper -->
      